{% extends "main.jinja2" %}
{% block body %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">Volver</a>
    <a class="navbar-brand" href="{{ url_for('process') }}">Resumen Grafico</a>
    <form class="form-inline" method='POST' action="{{ url_for('process') }}" enctype='multipart/form-data'>
      <input class="form-control mr-sm-2" type="search" placeholder="Product" name="product" />
     {# <button class="btn btn-outline-success my-2" type="submit" value="Search" /> #}
    </form>
  </nav>
  {% for plot in plots %}
       {% for part in plot %}
          {{part | safe}}
       {% endfor %}
   {% else %}
       <em>no existen datos para visualizar</em>  
   {% endfor %}
{% endblock %}
