{% extends "main.jinja2" %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">Resumen de Producto</a>
    <form class="form-inline" method='POST' action="{{ url_for('index') }}" enctype='multipart/form-data'>
      <input class="form-control mr-sm-2" type="search" placeholder="Product" name="product" />
    </form>
    <a class="navbar-brand" href="{{ url_for('upload') }}">Cargar Datos</a>
    <a class="navbar-brand" href="{{ url_for('process') }}">Resumen Grafico</a>
  </nav>
  <table style="width: 100%"> 
     <tr> 
       <th>CODE</th> 
       <th>PRODUCT</th> 
       <th>ORIGIN</th> 
       <th>DATE</th> 
       <th>YEAR</th> 
       <th>MONTH</th> 
       <th>TYPE</th> 
       <th>QTY</th> 
     </tr> 
     {% for data in product_data %} 
       <tr> 
         <td>{{ data.code }}</td> 
         <td>{{ data.name }}</td> 
         <td>{{ data.origin }}</td> 
         <td>{{ data.date }}</td> 
         <td>{{ data.year }}</td> 
         <td>{{ data.month }}</td> 
         <td>{{ data.transaction_type }}</td> 
         <td>{{ data.qty }}</td> 
       </tr> 
     {% else %} 
       <tr> 
         <td style="text-align: center;" colspan="8"> 
           NO DATA 
         </td> 
       </tr> 
     {% endfor %} 
   </table> 
{% endblock %}
