<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css" rel="stylesheet" />
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js" type="text/javascript" ></script>
    <title>Flask Project</title>
  </head>
  <body class="container">
    <div>
        <h1>Resumen de Productos</h1>
        {% block body %}{% endblock %}
    </div>
  </body>
</html>
