{% extends "main.jinja2" %}
{% block body %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">Volver</a>
    <form class="form-inline" method='POST' action='/show' enctype='multipart/form-data'>
      <label for="FileData">Upload CSV File </label>
      <input class="form-control-file mr-sm-2" type='file' name='file_data' id="FileData" >
    </form>
  </nav>
{% endblock %}
